<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.timeshift.quadr_eq_solver_pro" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutMeActivity"
            android:label="@string/title_activity_about_me" >
        </activity>
        <activity
            android:name=".solution"
            android:label="@string/title_activity_solution" >
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/title_activity_graph" >
        </activity>
    </application>

</manifest>
